*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.txt{
    
    text-align: center;
    margin-top: 180px;
}
.txt2{
    background-color: rgba(128, 128, 128, 0.313);
    border-radius: 10px;
    /* border: 2px solid red; */
    padding: 50px 50px;
}
.txt3{
    border: 1px solid black;
    text-align: center;
    margin-top: 50px;
}
.nav a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}